<%layout("boilerplate")%>
    <link rel="stylesheet" href="/css/courses.css">
    <link rel="stylesheet" href="/css/stylecourses.css">

    <div class="firstsectionbody" style="margin-top:6rem;">


        <!---START of body section two bar section-->
        <div class="section2">
            <!-- <h1>A broad selection of courses</h1> -->
            <p>Choose from 5,000 online video courses with new additions published every month
            </p>
            <div class="courseselect">

            </div>
        </div>

        <div class="section3">
            <div class="section3intro" name="pythonsecone">
                <h1>Expand your career <br>opportunities with <br>Web Development</h1>
                <!-- <p>Take one of Udemy's range of Python courses and learn
                    how to code using this incredibly useful language. Its<br />
                    simple syntax and readability makes Python perfect for
                    Flask, Django, data science, and machine learning.
                    You'll<br /> learn how to build everything from games to
                    sites to apps. Choose from a range of courses that
                    will appeal to...</p> -->
                <button>Explore </button>
            </div>
            <div class="presection3">
                <div class="coursesslides">
                    <!-- <img class="scroll1" src="/CoursesImages/scroll.png" /> -->
                    <!-- <img class="scroll2" src="/CoursesImages/scroll.png" /> -->
                    <!---START OF SLIDE ONE--->
                    <div class="slideone">
                        <!---START OF DROP DOWN MENU ONE-->
                        <div class="dropdown1">
                            <h1>Learn Python: The Complete
                                <br /> Python Programming Course
                            </h1>
                            <span>Updated September 2015</span>
                            <p>All Levels &#183 Subtitles</p>
                            <p>Learn A-Z everything about Python, from<br /> the basics,
                                to advanced topics like Python.
                            </p>
                            <div class="textandtick">
                                <p>
                                    <!-- <img src="/CoursesImages/check.png" /> -->
                                    To learn the python language
                                </p>
                                <p>
                                    <!-- <img src="/CoursesImages/check.png" /> -->
                                    To learn the CORE skills to understand<br />
                                    any programming language
                                </p>

                            </div>
                            <div class="buttonandheart">
                                <button>Add To Cart</button>
                                <!-- <img src="/heart.png" /> -->
                            </div>
                        </div>
                        <!---END OF DROP DOWN MENU ONE-->
                        <div class="slide1">
                            <!-- <img src="/CoursesImages/python.jpg" /> -->
                            <h1>Learn Python:
                                The Complete<br />
                                Python Programming Course
                            </h1>
                            <div class="coursetrainer">
                                Avinash Jain, The Codex
                            </div>
                            <div class="starandcost">
                                <div class="rate">
                                    <span>4.3</span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    (2,060)
                                </div>
                                <div class="cost">
                                    ₦4,500
                                    <s>₦14,900</s>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---END OF SLIDE ONE--->

                    <!---START OF SLIDE TWO--->
                    <div class="slidetwo">
                        <!---START OF DROP DOWN MENU TWO-->
                        <div class="dropdown2">
                            <h1>Learning Python for Data Analysis
                                <br /> and Visualization
                            </h1>
                            <span>Updated September 2019</span>
                            <p>All Levels &#183 Subtitles</p>
                            <p>Learn python and how to use it to<br />
                                analyze,visualize and present data. Includes<br />
                                tons of sample code and hours of video!

                            </p>
                            <div class="textandtick">
                                <p>
                                    <!-- <img src="/CoursesImages/check.png" /> -->
                                    Have an intermediate skill level of Python<br />
                                    programming.
                                </p>
                                <p>
                                    <!-- <img src="/CoursesImages/check.png" /> -->
                                    Use the Jupyter Notebook Environment.
                                </p>
                                <p>
                                    <!-- <img src="/CoursesImages/check.png" /> -->
                                    Use the numpy library to create and manipulate arrays.
                                </p>
                            </div>
                            <div class="buttonandheart">
                                <button>Add To Cart</button>
                                <!-- <img src="/CoursesImages/heart.png" /> -->
                            </div>
                        </div>
                        <!--END OF DROPDOWN TWO-->
                        <div class="slide1">
                            <!-- <img src="/CoursesImages/pic1.jpg" /> -->
                            <h1>Learning Python
                                for Data <br /> Analysis and Visualization
                            </h1>
                            <div class="coursetrainer">
                                Jose Portilla
                            </div>
                            <div class="starandcost">
                                <div class="rate">
                                    <span>4.3</span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    (17,524)
                                </div>
                                <div class="cost">
                                    ₦3,900
                                    <s>₦24,900</s>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---END OF SLIDE TWO--->


                    <div class="slide1">
                        <!-- <img src="/CoursesImages/pic6.jpg" /> -->
                        <h1>Teach Your Kids to Code: Learn<br />
                            to Program Python at Any Age!
                        </h1>
                        <div class="coursetrainer">
                            Bryson Payne
                        </div>
                        <div class="starandcost">
                            <div class="rate">
                                <span>4.3</span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (8,471)
                            </div>
                            <div class="cost">
                                ₦6,900
                                <s>₦44,900</s>
                            </div>
                        </div>

                    </div>
                </div>
                <!---END OF SLIDE SIX--->


                <!--START OF SLIDE SEVEN-->

                <!---START OF SLIDE SEVEN--->
                <div class="slideseven">
                    <!---START OF DROP DOWN SEVEN-->
                    <div class="dropdown7">
                        <h1>Python for Data Structures,<br />
                            Algorithms, and Interviews!
                        </h1>
                        <span>Updated September 2019</span>
                        <p>All Levels &#183 Subtitles</p>
                        <p>Get a kick start on your<br />
                            career and ace your coding interviews!


                        </p>
                        <div class="textandtick">
                            <p>
                                <!-- <img src="/CoursesImages/check.png" /> -->
                                Create a great resume

                            </p>
                            <p>
                                <!-- <img src="/CoursesImages/check.png" /> -->
                                Have a LinkedIn and Github profile for<br />
                                recruiters


                            </p>
                            <p>
                                <!-- <img src="/CoursesImages/check.png" /> -->
                                Understand all major Data Structures<br />
                                and Algorithms
                            </p>
                        </div>
                        <div class="buttonandheart">
                            <button>Add To Cart</button>
                            <!-- <img src="/CoursesImages/heart.png" /> -->
                        </div>
                    </div>
                    <!---END OF DROP DOWN MENU SEVEN-->
                    <div class="slide1">
                        <!-- <img src="/CoursesImages/pic5.jpg" /> -->
                        <h1>Python for Data Structures,<br />
                            Algorithms, and Interviews!
                        </h1>
                        <div class="coursetrainer">
                            Jose Potilla
                        </div>
                        <div class="starandcost">
                            <div class="rate">
                                <span>4.3</span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                (7,501)
                            </div>
                            <div class="cost">
                                ₦9,900
                                <s>₦24,900</s>
                            </div>
                        </div>

                    </div>
                </div>
                <!---END OF SLIDE SEVEN--->

            </div>
            <!---END OF SLIDE TEN--->



            <!--END OF DIV FOR SLIDES ARE THE FOUR IMMEDIATELY-->
        </div>
    </div>
    </div>
    </div>
    <!--START OF CENTER SECTION-->
    <div class="centresection">
        <div class="midteam">
            <!-- <img src="/CoursesImages/play.png" /> -->
            <h3>
                Learn in-demand skills with over<br />
                5,000 video courses
            </h3>
        </div>


        <div class="midteam">
            <!-- <img src="/CoursesImages/star.png" /> -->
            <h3>
                Choose courses taught by real-world <br />
                experts
            </h3>
        </div>

        <div class="midteam">
            <!-- <img src="/CoursesImages/infinity.png" /> -->
            <h3>
                Learn at your own pace, with lifetime<br />
                access on mobile and desktop
            </h3>
        </div>
    </div>
    <!--END OF CENTER SECTION-->



    <!--START OF Featured topics by category--->

    <div class="featured">
        <div class="featuredinside">
            <div>
                <ul>
                    <h3>Frontend Development</h3>
                    <a href="#">
                        <li>CSS</li>
                    </a>
                    <p>5,025 students</p>


                    <a href="#">
                        <li>JavaScript</li>
                    </a>
                    <p>182 students</p>


                    <a href="#">
                        <li>BootStrap</li>
                    </a>
                    <p>36,051 students</p>

                </ul>
            </div>


            <div>
                <ul>
                    <h3>BackEnd Devolopment</h3>
                    <a href="#">
                        <li>React</li>
                    </a>
                    <p>160 students</p>


                    <a href="#">
                        <li>Node</li>
                    </a>
                    <p>3,489 students</p>


                    <a href="#">
                        <li>MongoDB</li>
                    </a>
                    <p>589 students</p>

                </ul>
            </div>



            <div>
                <ul>
                    <h3>Expertise</h3>
                    <a href="#">
                        <li>Responsiveness</li>
                    </a>
                    <p>14,163 students</p>


                    <a href="#">
                        <li>Search Engine Optimisation</li>
                    </a>
                    <p>292 students</p>


                    <a href="#">
                        <li>Cyber Security</li>
                    </a>
                    <p>16,498 students</p>

                </ul>
            </div>

            <div>
                <ul>
                    <h3>BlockChain</h3>
                    <a href="#">
                        <li>Solidity</li>
                    </a>
                    <p>35,397 students</p>


                    <a href="#">
                        <li>Etheream</li>
                    </a>
                    <p>5,875 students</p>


                    <a href="#">
                        <li>DeFi</li>
                    </a>
                    <p>7,244 students</p>

                </ul>
            </div>
        </div>
        <button>Explore More Topics</button>
    </div>