<%layout("boilerplate")%>
    <link rel="stylesheet" href="/css/JobPage1.css">

    <div id="container" style="margin-top:6rem">
        <div id="filter">
            <div class="head">
                <img src="https://cdn-icons-png.flaticon.com/128/60/60954.png" />
                <div>
                    All Filter
                </div>
            </div>
            <div>
                <p>Sort By</p><br>
                <form>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> Newest to oldest</label><br>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> Prices Lowest to Highest</label><br>
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> Most upvoted</label>
                </form>
            </div>
            <br>
            <br>
            <hr>

            <div>
                <p>Credits</p>
                <form>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> Highest to Lowest</label><br>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> Lowest to Highest</label><br>
                </form>
            </div>
            <br>
            <br>
            <hr>
            <div>
                <p>Job Type </p>
                <form>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> FrontEnd Development</label><br>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> BackEnd Development</label><br>
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> BlockChain Development</label>
                </form>
            </div>
            <br>
            <br>
            <hr>
            <div>
                <p>Top Companies</p>
                <br>
                <br>
                <form>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> Google</label><br>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> Adobe</label><br>
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> Netflix</label>

                </form>
            </div>
            <br>
        </div>
        <!-- Jobs Div -->
        <div id="jobs">
        </div>
        <div id="lastContainer">
            <div>
                <div class="inner">
                    <h4>STUCK? Get personalised guidance and assistance</h4>
                    <img src="https://static.naukimg.com/s/7/109/assets/images/register.e0bc10df.png" alt="image2">
                </div>
            </div>
            <p>Registering gives you the benefit to browse & apply variety of jobs based on your preferences</p>
            <button class="register">Register Now</button>
            <div id="SavedJobs">Go to Saved Jobs</div>
            <div id="ad">
                <div id="logo" class="bgWhite">

                </div>

            </div>
        </div>
    </div>