<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/landingpage.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Diversity</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="height:10%">
        <a class="navbar-brand px-5" href="/"
            style="font-size:1.8rem;font-family: 'JetBrains Mono', monospace;">WebDeck</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto px-3">
                <li class="nav-item active px-3">

                    <a class="nav-link" href="/profile">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/jobs">JobBoard</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/support">MentorHub</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/reviews">Experience</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/education">Education</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>




    <div class='home_header'>

        <div class='left'>
            <h1 class='user_header'>Welcome, </h1>
            <p class='para_header'> Diversity in tech: Integrating the Community API</p>
            <form action="/login">
                <button class='btn' type="submit">Get Started</button>
            </form>
        </div>

    </div>

    <div class='home_diversity' data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
        <div class='project_container'>
            <article class='project_item '>
                <h3>Diversity and Inclusion</h3>



                <p>Diversity in tech is all about bringing more perspectives to a traditionally homogeneous and often
                    non-inclusive industry.The aim of these efforts is to create a more diverse workplace where all
                    employees feel valued and supported, leading to increased innovation, better problem-solving, and
                    improved performance. The lack of a diverse workplace can lead to a homogeneous workplace culture
                    where certain perspectives and experiences are not represented, potentially leading to products and
                    services that do not meet the needs of all users.</p>

            </article>
            <article class='about_us'>
                <h3>What Is Open Source?</h3>


                <p>Code that is intended to be publicly available is known as open source software; anybody can view,
                    alter, and distribute the code as they see appropriate. Peer review and community production are
                    used in the decentralised, collaborative development of open source software. Because it is created
                    by communities rather than a single author or business, open source software is frequently less
                    expensive, more adaptable, and more durable than its proprietary counterparts.</p>
            </article>

        </div>

    </div>

    <div class='home_about' data-aos="fade-up" data-aos-duration="1000" data-aos-once="false">
        <div class='about_us_container'>
            <article class='about_us proj_left' data-aos="flip-right">
                <h3>About Us</h3>


                <p>We recognize the importance of building inclusive technology
                    cultures that foster engagement, collaboration, and belonging that reflect a diverse technology
                    workforce and deliver value.</p>

            </article>
            <div class='project_item  proj_right info_div ' data-aos="zoom-in">
                <article class='child_div'>
                    40+ <br />Companies

                </article>
                <article class="child_div">80+<br />Open Source Organizations</article>
                <article class="child_div">1k Mentors</article>
                <article class="child_div">50+<br /> Communites from Around The Globe</article>
                <article class="child_div">Courses in 12<br />Different Languages</article>
                <article class="child_div">8k Happy Learners</article>
            </div>


        </div>

    </div>
    <div class='home_creators'>

    </div>
    <footer class="foot mt-auto">
        <div class="contain_footer">
            <div class="footer_row">
                <div class="footer_col">
                    <h4>
                        Home
                    </h4>
                    <ul class="ul_footer">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/profile">Dashboard</a></li>

                    </ul>
                </div>
                <div class="footer_col">
                    <h4>
                        Courses
                    </h4>
                    <ul class="ul_footer">
                        <li><a href="/education">Frontend Courses</a></li>
                        <li><a href="/education">Backend Courses</a></li>
                        <li><a href="/education">Database Management</a></li>

                    </ul>
                </div>
                <div class="footer_col">
                    <h4>
                        Mentor Hub
                    </h4>
                    <ul class="ul_footer">
                        <li><a href="/support">Know Your Mentor</a></li>


                    </ul>
                </div>
                <div class="footer_col">
                    <h4>
                        Job Board
                    </h4>
                    <ul class="ul_footer">
                        <li><a href="/jobs">Frontend Jobs</a></li>
                        <li><a href="/jobs">Backend Jobs</a></li>
                        <li><a href="/jobs">Network Security Jobs</a></li>
                    </ul>
                </div>
            </div>

            <hr>
            <div class="footer_row">
                <p class="footer_copyright">
                    Copyright &copy; 2022 All Rights Reserved by WebDeck
                </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 3000,
            once: true,
        });
    </script>
</body>

</html>