<%layout("boilerplate")%>
    <div class="container1"
        style="margin-top:6em;display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/images/background/insaan.jpg" alt="Card image cap" style="height:18em;">
            <div class="card-body">
                <h5 class="card-title">Andrew Flintoff</h5>
                <p class="card-text">AI, ML Professional, Microsoft, Poland</p>
                <a href="#" class="btn btn-primary">Connect</a>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/images/background/insaan2.jpg" alt="Card image cap" style="height:18em;">
            <div class="card-body">
                <h5 class="card-title">Emma Clarke</h5>
                <p class="card-text">Mathematics and Statistics Head at UNSC</p>
                <a href="#" class="btn btn-primary">Connect</a>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/images/reviews/pregnantmahila.jpg" alt="Card image cap"
                style="height:18em;">
            <div class="card-body">
                <h5 class="card-title">Angelina May</h5>
                <p class="card-text">MS in Data Science. Specialises in Data Analysis</p>
                <a href="#" class="btn btn-primary">Connect</a>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/images/background/mulli.jpg" alt="Card image cap" style="height:18em;">
            <div class="card-body">
                <h5 class="card-title">Saloni Afridi</h5>
                <p class="card-text">DBMS Professorf at NSUT, New Delhi</p>
                <a href="#" class="btn btn-primary">Connect</a>
            </div>
        </div>
        <div class="card" style="width: 22rem;">
            <img class="card-img-top" src="/images/background/insaan5.jpg" alt="Card image cap" style="height:18em;">
            <div class="card-body">
                <h5 class="card-title">Saxam Chaudhary</h5>
                <p class="card-text">Expert in MERN Stack. Ph.d Oxford University</p>
                <a href="#" class="btn btn-primary">Connect</a>
            </div>
        </div>
    </div>